VBNet/ExampleWebServerAndClient/Web Service Client/Web Service Client/Connected Services/MyWebService/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customer_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerDeleteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newCustomer" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="customer_id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CustomerInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerInsertResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newCustomer" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerSelect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchCustomer" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerSelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerSelectResult" type="tns:ArrayOfCustomer" />
            <s:element minOccurs="0" maxOccurs="1" name="searchCustomer" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCustomer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
        </s:sequence>
      </s:complexType>
      <s:element name="CustomerWrite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateCustomer" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerWriteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerWriteResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateCustomer" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerDelete" />
  </wsdl:message>
  <wsdl:message name="CustomerDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerInsertSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerInsert" />
  </wsdl:message>
  <wsdl:message name="CustomerInsertSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerInsertResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerSelectSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerSelect" />
  </wsdl:message>
  <wsdl:message name="CustomerSelectSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerSelectResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerWriteSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerWrite" />
  </wsdl:message>
  <wsdl:message name="CustomerWriteSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerWriteResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerDelete">
      <wsdl:input message="tns:CustomerDeleteSoapIn" />
      <wsdl:output message="tns:CustomerDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerInsert">
      <wsdl:input message="tns:CustomerInsertSoapIn" />
      <wsdl:output message="tns:CustomerInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerSelect">
      <wsdl:input message="tns:CustomerSelectSoapIn" />
      <wsdl:output message="tns:CustomerSelectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerWrite">
      <wsdl:input message="tns:CustomerWriteSoapIn" />
      <wsdl:output message="tns:CustomerWriteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerDelete">
      <soap:operation soapAction="http://tempuri.org/CustomerDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerInsert">
      <soap:operation soapAction="http://tempuri.org/CustomerInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerSelect">
      <soap:operation soapAction="http://tempuri.org/CustomerSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerWrite">
      <soap:operation soapAction="http://tempuri.org/CustomerWrite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerDelete">
      <soap12:operation soapAction="http://tempuri.org/CustomerDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerInsert">
      <soap12:operation soapAction="http://tempuri.org/CustomerInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerSelect">
      <soap12:operation soapAction="http://tempuri.org/CustomerSelect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerWrite">
      <soap12:operation soapAction="http://tempuri.org/CustomerWrite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:51256/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:51256/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>